@font-face {
  font-family: USAF;
  src: url('../media/amarurgt.ttf');
}
#className {
  font-family: USAF;
  font-size: 50px;
  color: black;
  position: absolute;
  right: 10px;
  top: 0;
}
#content {
  margin: 20px;
}
#content div {
  margin: 10px auto;
}
#content div input {
  width: 250px;
}
#content div span {
  margin: auto 10px;
}
